.detailsPage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 20px;
  max-width: 1200px;
}

.header {
  display: flex;
  align-items: flex-start;
}

.poster {
  width: 200px;
  height: auto;
  margin-right: 20px;
  border-radius: 8px;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.overview {
  font-size: 16px;
  margin-bottom: 20px;
}

.rating {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.voteAverage {
  margin-left: 10px;
}

.additionalDetails {
  margin-top: 40px;
}

.additionalDetails p {
  font-size: 16px;
  margin-bottom: 10px;
}

.additionalDetails strong {
  font-weight: bold;
  margin-right: 5px;
}

.additionalDetails a {
  color: blue;
  text-decoration: underline;
}
