.card {
  position: relative; /* Make the card container relative */
  display: inline-block; /* Change to inline-block for inline positioning */
  width: 280px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card:hover {
  cursor: pointer;
}

.languageBadge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

.favoriteIcon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.poster {
  width: 100%;
  border-radius: 5px;
}

.details {
  padding: 10px;
  text-align: center;
}

.date {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

.title {
  font-size: 20px;
  margin-bottom: 5px;
}

.rating {
  font-size: 16px;
  color: #007bff;
  margin-bottom: 5px;
}
